/****** BASE STYLES ******/

body{
    font-family: 'Source Sans Pro', sans-serif;
}

#about, #work, #contact {
    height: 600px;
}

/****** GRID ******/

.full-width {
    width: 1200px;
    margin: 0 auto;
}
.half-width {
    width: 600px;
    float: left;
}
.third-width {
    width: 400px;
    float: left;
}
/****** HEADER ******/

header{
    background: lightgrey;
    }
header h1 { 
    font-family: 'Lora', serif;
    font-size: 30px;
    color: #bbc085;
    padding: 50px 0;
}
nav {
    float: right; 
    padding: 95px 40px;
}
nav ul li{
    display: inline-block;
}
nav ul li a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 18px;
    color: #828282;
    padding-left: 80px; 
}
header h2 {
    width: 1000px;
    clear: both;
    font-family: 'Lora', serif;
    font-size: 72px;
    line-height: 80px;
    color: #9b9b9b;
    padding: 20px 0;
}
header h2 span {
    color: #2b2b2b;
}
header{
    height: 800px;
    background-image: url("background-header-image.png");
    background-size: cover;
}
h1{
    color: green;
}
header h1 { 
    padding: 50px 0;
}
header h1 { 

}
nav {
    float: right; 
    padding: 75px 75px 75px 75px;
}
nav ul li{
    display: inline-block;
}
nav ul li a {
    text-transform:uppercase;
    text-decoration:none;
    font-size:8px; 
    color: grey;
    padding-left: 80px; 
}
nav {
    float: right; 
    padding: 75px 70px;
}
nav ul li a {
    text-transform:uppercase;
    text-decoration:none;
    font-size: 18px;
    color: grey;
    padding-left: 80px; 
}
/****** ABOUT ******/

#about .full-width {
    padding: 20px 20px;
}

#about h2 {
    font-family:  'Lora';
    font-size:36px;
}
#about p {
    font-size: 30px;
    color: #7f7f7f;
    line-height: 42x;
    padding-right: 50px;
}
.that{
    padding-top:  33px;
}

/***** WORK *****/

#work{
    background: #ffcccc;
    text-align: center;
}
#work .full-width {
    padding: 115px 0;
    margin-top: 30px;
}
 
#work img {
    padding-bottom: 30px;
}
#work h3 {
    font-size: 20px;
    margin: 0 auto;

} 
#work p {
    font-family: 'Lora', serif;
    font-size:12px;
    line-height: 32px;
    color:black;
    padding: 45px;
}

/***** CONTACT *****/

#contact{
    background:  #b3cccc;
}
#contact .full-width {
    padding: 110px 0;
}
#contact-img {
    border: 12px solid #ffffff;
}
#contact h2, #email-header, #socialmedia-header, #contact ul {
    padding-left: 115px;
}
#envelope {
    padding: 0 10px 0 115px;
    font-size: 20px;
}
#contact h2 {
    font-family: 'Lora',serif;
    font-size: 30px;
    font-weight: bold;
}
#contact h3{
    font-size: 17px;
}
#email-header{
    font-size: 50px;
    font-weight: bold;
    margin: -30px 0 5px 0;
}
#socialmedia-header {
    font-weight: normal;
    font-size: 20px;
    margin: 40px 0 0 0;
}
#contact a {
    text-decoration: none;
    color:black;
    font-weight:bold ;
    font-size: 10px;
}
#contact ul {
    list-style: none;
}
#contact ul li {
     display: inline-block;
}
#contact ul img {
    padding-right: 48px;


